# System Files
.DS_Store
Thumbs.db

# .NET / C#
bin/
obj/
*.user
*.userosscache
*.sln.docstates
*.db
*.db-journal
*.db-shm
*.db-wal

# Visual Studio Code
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Node / Angular
node_modules/
/dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.development
.env.production
.env.staging
